<!-- Footer -->
{% load static %} 
<footer class="section footer-minimal context-dark">
    <div class="container wow-outer">
        <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
                <div class="col-12">
                    <ul class="social-list">
                        <li><a class="icon-xl fa-facebook-official" href="https://www.facebook.com/profile.php?id=61566335102102"></a></li>
                        <li><a class="icon-xl fa-instagram" href="https://www.instagram.com/futurarsinbarreras/profilecard/?igsh=anV2NHl4eWFlOTVv"></a></li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
            <p class="rights adjustable-text"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Fundación FUTURAR</span><span>.&nbsp;</span><span>Todos los derechos reservados.</span><span>&nbsp;</span>Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com/">Templatemonster</a></p>
        </div>
    </div>
    <div class="accessibility-controls">
        <button class="button button-sm button-primary"><a href="{% url 'admin:index' %}">⚙️</a></button>
    </div>
</footer>
<div class="snackbars" id="form-output-global"></div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>