
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>FUTURAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style-futurar.css">
    <link rel="stylesheet" href="css/futurar.css">
    <style>.ie-panel{display: none;background:#212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Cargando...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="index.html"><img class="brand-logo-light" src="images/logo-inverse-415x103.png" alt="" width="207" height="51"/></a></div>
                </div>
                
                <div class="rd-navbar-main-element ">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html"><img class="img-menu" src="images/iconos/home.png">&nbsp;INICIO</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="nosotros.html"><img class="img-menu" src="images/iconos/nosotros.png">&nbsp;NOSOTROS</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html"><img class="img-menu" src="images/iconos/programas.png">&nbsp;PROGRAMAS</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html"><img class="img-menu" src="images/iconos/actividades.png">&nbsp;ACTIVIDADES&nbsp;</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html"><img class="img-menu" src="images/iconos/historias.png">&nbsp;HISTORIAS</a></li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html"><img class="img-menu" src="images/iconos/contacto.png">&nbsp;CONTACTO</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section class="section section-lg section-main-bunner section-main-bunner-filter">
        <div class="main-bunner-img" style="background-image: url('images/portada.jpg'); background-size: cover;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="row row-50 justify-content-lg-center align-items-lg-center">
              <div class="col-lg-12">
                <div class="bunner-content-modern text-center">
                  <!-- <h2 class="main-bunner-title">FUNDACI&Oacute;N FUTURAR</h2><p><i>SIN BARRERAS</i></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-xl">
        <div class="container">
          <div class="row row-50 justify-content-lg-between align-items-lg-center">
            <div class="col-lg-6">
              <div class="box-img-animate">
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;: 0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }">
                  <img style="border-radius: 50%; border: 3px solid;" class="futurar-color-pink" src="images/animate-img-1.jpg" alt="">
                </div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;: 150, &quot;x&quot;: 50,  &quot;smoothness&quot;: 50 }">
                  <img style="border-radius: 50%; border: 3px solid;" class="futurar-color-blue" src="images/animate-img-2.jpg" alt="">
                </div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:10, &quot;x&quot;: 60,  &quot;smoothness&quot;: 50 }">
                  <img style="border-radius: 50%; border: 3px solid;" class="futurar-color-green" src="images/animate-img-3.jpg" alt="">
                </div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:10, &quot;x&quot;: 80,  &quot;smoothness&quot;: 50 }">
                  <img style="border-radius: 50%; border: 3px solid;" class="futurar-color-orange" src="images/animate-img-4.jpg" alt="">
                </div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:60, &quot;x&quot;: 70,  &quot;smoothness&quot;: 50 }">
                  <img style="border-radius: 50%; border: 3px solid;" class="futurar-color-pink" src="images/animate-img-5.jpg" alt="">
                </div>
                <!-- <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }"><img style="border-radius: 50%;" src="images/animate-img-6.jpg" alt=""></div> -->
              </div>
            </div>
            <div class="col-lg-6 col-xl-5">
              <div class="innset-xl-left-66">
                <h3>QU&Eacute; OFRECEMOS</h3>
                <p class="text-opacity-80">
                  Quienes conformamos FUTURAR tenemos la vivencia personal del arduo camino que transitan los jóvenes con discapacidad en los diversos ámbitos sociales. Eso nos motivó a trabajar aprovechando nuestras experiencias laborales y familiares para acompañar a los jóvenes con diversidad funcional y a quienes forman parte de su vida cotidiana.
                </p>
                <div class="row row-50">
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-circle"><span class="icon-xl fas fa-circle futurar-color-pink"></span></div>
                      <div class="box-icon-caption">
                        <h4>Conocemos las leyes</h4>
                        <p>Conocemos las leyes que resguardan y promueven la inclusión, la participación social y la vida autónoma de las personas con discapacidad.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-circle"><span class="icon-xl fas fa-circle futurar-color-blue"></span></div>
                      <div class="box-icon-caption">
                        <h4>Conocemos los obstáculos</h4>
                        <p>Sabemos que existen barreras e impedimentos a la hora de hacer efectiva la inclusión en una vida comunitaria que respete la diversidad.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-circle"><span class="icon-xl fas fa-circle futurar-color-green"></span></div>
                      <div class="box-icon-caption">
                        <h4>Compartimos en comunidad</h4>
                        <p>Proponemos brindar un espacio para generar lazos entre jóvenes mediante actividades socioculturales que trascienden los ámbitos cotidianos.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-circle"><span class="icon-xl fas fa-circle futurar-color-orange"></span></div>
                      <div class="box-icon-caption">
                        <h4>Estamos convencidos</h4>
                        <p>Sabemos que aún podemos hacer más en el acompañamiento a la vida adulta.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-7 wow-outer">
              <div class="wow slideInDown">
                <h3>NUESTRA MISI&Oacute;N</h3>
                <p>
                  FUTURAR est&aacute; dirigida a adolescentes, jóvenes y adultos ya sea que se encuentren o no en el proceso de inclusión laboral, pretendemos generar oportunidades para desarrollar su potencial a través del trabajo, pues entendemos que es uno de los modos para construir una comunidad que respeta y valora la diversidad.
                  <br>Buscamos promover y hacer efectiva la inclusión genuina de las personas con discapacidad en todos los ámbitos de la vida social.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon-xl fa-facebook-official" href="#"></a></li>
                  <li><a class="icon-xl fa-instagram" href="#"></a></li>
                  <li>&nbsp;</li>
                </ul>
              </div>
            </div>
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Fundación FUTURAR</span><span>.&nbsp;</span><span>Todos los derechos reservados.</span><span>&nbsp;</span>Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com/">Templatemonster</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by ragnar-->
  </body>
</html>